p {
  font-size: 12px;
}
h1 {
  font-size: 42px;
}
li{
  text-decoration: none;
  list-style-type: none;
}

.f24 {
  font-size: 16px;
}
.light-text {
  font-weight: 300;
}
.bold-text {
  font-weight: 600;
}
.price-down {
  color: #f44336;
}
.price-up {
  color: #00c853;
}
.ml-4 {
  margin-left: 4px;
}
.mb-12 {
  margin-bottom: 12px;
}
.mb-8 {
  margin-bottom: -8px;
}
.mrb-8{
  margin-bottom: 8px;
}
.mt-14{
  margin-top: 14px;
}
.mtm-16{
  margin-top: -16px;
}