* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
main {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'DIN Pro Medium', sans-serif;
  background-color: #f0f0f0;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #000;
  color: white;
  padding: 20px;
}

/* Logo Ações */

.logo-Ultra {
  width: 65px;
  position: relative;
  right: 5px;
}

.logo-VALE{
  width: 75px;
  position: relative;
  right: 10px;
}

.logo-AZUL{
  width: 70px;
  position: relative;
  right: 10px;
}

.logo-PETRO{
  width: 20px;
}

.logo-RUMO{
  width: 130px;
  position: relative;
  right: 40px;
  top: -8px;
}

.logo-BB{
  width: 30px;
  position: relative;
  top: -8px;
}

.logo-GRD {
  width: 55px;
  position: relative;
  right: 6px;
  top: -8px;
}

.logo-MGL {
  width: 95px;
  position: relative;
  top: -8px;
}

.logo img {
  height: 20px;
  margin-left: 20px;
}

/* Estilo/alinhamento dos botões */
.order-options {
  display: flex;
  justify-content: end;
  align-items: baseline;
}

.order-options span {
  margin-right: 10px;
  font-weight: 600;
  font-size: 12px;
  color: #8e918f;
  display: flex;
  align-items: center;
}

.button-switcher {
  background-color: #ccc;
  color: #8e918f;
  border: none;
  padding: 8px 30px;
  text-align: center;
  margin-right: 10px;
  cursor: pointer;
  border-radius: 24px;
  transition: 0.25s;
}

.order-options button:hover {
  background-color: #269aed;
  color: white;
  font-weight: 300;
}

.order-options button:active {
  background-color: #269aed;
  color: white;
  font-weight: 300;
}
.button-switcher.active{
  background-color: #269aed;
  color: white;
  font-weight: 300;
}

/* Primeiro Navigation */

.grid-nav {
  display: flex;
  justify-content: space-between;
  margin: 42px 46px 46px 46px;
}
/* Card de Ação */

.grid-graph {
  gap: 30px;
  margin: 0px 46px 30px 46px;
  .graph {
    width: 296px;
    height: 289px;
    border: 1px solid #ccc;
    position: relative;
  }
}

.margin-content {
  margin: 40px;
}
.side-to-side {
  display: flex;
  justify-content: space-between;
}
.img-graph {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
.img-border {
  position: absolute;
  left: 0;
  bottom: 26px;
  width: 100%;
}









